[user]
name = Chris Keller
email = xylo04@gmail.com
signingkey = C860B5A8D2AD6CA3

[alias]
l = log --pretty=format:'%C(yellow)%h%C(white) %an <%ae> %>|(80)%ai%Creset%n%C(bold)%w(0,4,4)%s%C(reset)%n%+b'
ll = log --stat
lp = log -p
lg = log --graph --branches --boundary --oneline
lgm = log --graph --branches --boundary --oneline origin/main..
gjf = !~/git/dotfiles/gitgjf
lsskip = !git ls-files -v . | grep ^S
skip = update-index --skip-worktree
unskip = update-index --no-skip-worktree
myclean = clean -fdx --exclude=.idea --exclude=.env

[diff]
tool = vscode

[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE

[merge]
tool = vscode

[mergetool "vscode"]
cmd = code --wait $MERGED

[push]
default = simple
autoSetupRemote = true

[pull]
rebase = true

[init]
defaultBranch = main

[core]
editor = vi
